{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block body %}
<div>
    <h1>Change Password</h1>
    <ul>
        <li>must not be the same as the current password</li>
        <li>minimum password length of 14 characters.</li>
        <li>must use of both uppercase and lowercase letters</li>
        <li>must include of one or more numerical digits</li>
        <li>must include of special characters, such as @, #, $</li>
        <li>cannot contain the username or parts of the user’s full name, such as his first name</li>
    </ul>
    <form method="POST" action="{% url 'accounts:change_password' user.username %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button-primary" value="Change Password">
    </form>
</div>
{% endblock %}